@use '../../styles/variables/colors' as *;

.input-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0.2rem;
  flex-direction: column;
  transition: 0.3s;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  span {
    letter-spacing: 0.025em;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    color: $gray-700;

    b {
      color: $red-600;
    }
  }

  input {
    padding: 1rem;
    border-radius: 0.4rem;
    outline-color: $light-eloPrimary;
    border: 1px solid $gray-100;
    font-size: 1rem;
    background-color: $gray-50;
    cursor: text;
  }

  p {
    margin: 0;
    margin-top: 0.25rem;
    padding: 0rem 0.5rem;
    font-size: 0.8rem;
  }

  &.field-error {
    input {
      border: 1px solid $red-700;
      outline-color: $red-700;
    }
    p {
      color: $red-700;
    }
  }
}

.dark.input-wrapper {
  background-color: transparent;
  span {
    color: $gray-600;
  }

  input {
    background-color: $dark-700;
    color: $gray-200;
    border: 1px solid $dark-500;

    &::placeholder {
      color: $gray-600;
    }
  }

  &.field-error {
    input {
      border: 1px solid $red-600;
      outline-color: $red-600;
    }
    p {
      color: $red-600;
    }
  }
}
