@use '../../styles/variables/shadows' as *;
@use '../../styles/variables/colors' as *;

.toggle-theme {
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $dark-800;
  padding: 0.75rem;
  box-shadow: $shadow-lg;
  z-index: 99;
  pointer-events: auto;

  outline-color: $gray-500;

  svg {
    color: $gray-200;
  }

  &.dark {
    background-color: $gray-400;

    svg {
      color: $dark-800;
    }
  }
}
